body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table,
tr,
td {
  border: 2px solid blueviolet;
  border-collapse: collapse;
}
td {
  padding: 5px;
}
.my_btn {
  padding: 5px 20px;
  background-color: orangered;
  color: white;
  border: none;
  margin-left: 10px;
}
